<h3>Add A TV Show</h3>

<%= form_for @television_show do |f| %>

  <% if @television_show.errors.any? %>
    <ul>
      <% @television_show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :network %>
    <%= f.text_field :network %>
  </div>

  <div>
    <%= f.label :years %>
    <%= f.text_field :years %>
  </div>

  <div>
    <%= f.label :synopsis %>
    <%= f.text_field :synopsis %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>
