<h1><%= show.title %></h1>

<dl>
  <dt>Network:</dt>
  <dd><%= show.network %></dd>
  <dt>Years:</dt>
  <dd><%= show.starting_year %> - <%= show.ending_year %></dd>
  <dt>Genre:</dt>
  <dd><%= show.genre %></dd>
</dl>

<p><%= show.synopsis %></p>

<a href="/television_shows">Back to all shows</a>
